[Desktop Entry]
Name=Sioyek
GenericName=PDF Viewer for research papers
Comment=Sioyek is a PDF viewer designed for reading research papers and technical books
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 com.github.ahrm.sioyek --new-instance
Icon=com.github.ahrm.sioyek
Terminal=false
Type=Application
Keywords=pdf;viewer;research;
Categories=Office;Viewer;
MimeType=application/pdf;
StartupNotify=false
X-Desktop-File-Install-Version=0.26
X-Flatpak=com.github.ahrm.sioyek
