nvim/after

# symlinks can be ignored.
config/alacritty/alacritty.yml
config/gtk-3.0/settings.ini
config/gtk-4.0/settings.ini
config/kitty/current-theme.conf
config/sway/theme
config/sway/wob.sh
config/waybar/style.css
config/wofi/style.css
