config/nvim/after/

config/sway/theme
config/waybar/style.css
config/wofi/style.css
config/gtk-3.0/settings.ini
config/gtk-4.0/settings.ini
config/alacritty/alacritty.yml
config/kitty/current-theme.conf
config/kitty/kitty.conf
config/kitty/kitty.conf.bak
config/k9s/skin.yml
config/swaync/style.css
config/rofi/config.rasi
config/mutt
