@define-color black             #1c1c1c;
@define-color black-trans       rgba(28, 28, 28, .85);
@define-color blue              #437883;
@define-color blue-light        #87afd7;
@define-color yellow            #7c794e;
@define-color yellow-light      #9b9761;
@define-color red               #605753;
@define-color green             #437762;
@define-color grey              #545555;
@define-color grey-light        #545555;
@define-color white             #b9bab5;


.modules-right {
    font-family:    "Couine";
    font-size:      15px;
}

.modules-left {
    font-family:    "FreeMono";
    font-size:      19px;
}

window#waybar {
    background: none;
}

#workspaces {
    padding:            0px 20px 0px 20px;
    margin:             0px 5px 0px 7px;
    border-radius:      0px 0px 5px 5px;
    background:         @black-trans;
    /* avoids resizing the waybar when border
       is drawn on focus. */
    border-bottom:      2px solid @trans;
}

#workspaces button {
    margin:             0px 2px 0px 2px;
    padding:            4px 10px 4px 10px;
    color:              @grey;
    border-radius:      0px;
    border-bottom:      2px solid @trans;
}

#workspaces button.focused {
    font-weight:        bold;
    color:              @yellow-light;
    border-bottom:      2px solid @yellow-light;
}

#workspaces button.urgent {
    color:              @red; 
}

#workspaces button#sway-workspace-apps.focused {
    font-weight:        bold;
    color:              @red;
    border-bottom:      2px solid @red;
}


#custom-grimshot, #clock, #mode, #battery, #disk, #cpu, #memory, #network, #pulseaudio, #backlight {
    margin:             0px 2px 0px 2px;
    border-radius:      0px 0px 5px 5px;
    padding:            1px 8px 1px 8px;
    color:              @white;
    border-bottom:      1.5px solid @black-trans;
    border-right:       1.5px solid @black-trans;
    border-left:        1.5px solid @black-trans;
}

#custom-grimshot {
    color: @yellow-light;
    background: @black-trans;
}

#memory.low {
    background: @blue;
}
#memory.mid {
    background: @yellow;
}
#memory.high {
    background: @red;
}

#cpu.low {
    background: @blue;
}
#cpu.mid {
    background: @yellow;
}
#cpu.high {
    background: @red;
}

#disk.low {
    background: @blue;
}
#disk.mid {
    background: @yellow;
}
#disk.high {
    background: @red;
}

#network {
    background: @green;
}
#network.disconnected {
    background: @red;
}

#battery {
    background: @blue;
}
#battery.warning {
    background: @yellow;
}
#battery.critical {
    background: @red;
}

#backlight.low {
    background: @blue;
}
#backlight.mid {
    background: @yellow;
}
#backlight.high {
    background: @red;
}

#pulseaudio.low {
    background: @blue;
}
#pulseaudio.mid {
    background: @yellow;
}
#pulseaudio.high {
    background: @red;
}

#clock {
    background: @yellow;
}

