@define-color trans             rgba(28, 28, 28, 0);
@define-color black             #1c1c1c;
@define-color black-trans       rgba(35, 35, 35, .9);
@define-color blue              #437890;
@define-color blue-light        #87afd7;
@define-color yellow            #7c794e;
@define-color yellow-light      #9b9761;
@define-color red               #755754;
@define-color green             #497964;
@define-color grey              #545555;
@define-color grey-light        #8e8e8e;
@define-color white             #b9bab5;

window {
    margin: 5px;
    border: 2px solid @yellow-light;
    background-color: @white;
}

#input {
    font-family: "Cousine"
    border-bottom: @yellow-light;
}

#inner-box {
    padding: 25px
}

#outer-box {

}

#scroll {
}

#text {
    font-family: "Cousine"
}

#entry:selected {
    background-color: @yellow;
}

#text:selected {
}
