window {
   background-image: url("/home/louis/Dropbox/Wallpapers/calder-moore/calder-moore-scifi-elevator-fin.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #31455b;
}

#clock-label, #input-label {
    color: #ffffff;
}
