window {
   background-image: url("/home/louis/Dropbox/Wallpapers/minimalist-landscape-4k-jt-2560x1600-orange.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #31455b;
}

label {
    color: white;
}
