window {
   background-image: url("/home/louis/Dropbox/Wallpapers/jwt05-2k.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #31455b;
}

#clock-label, #input-label {
    color: #ffffff;
}
