@define-color trans             rgba(28, 28, 28, .0);
@define-color black             #1c1c1c;
@define-color black-two         #252525;
@define-color black-trans       rgba(35, 35, 35, .95);
@define-color blue              #437890;
@define-color blue-light        #87afd7;
@define-color yellow            #7c794e;
@define-color yellow-light      #9b9761;
@define-color red               #755754;
@define-color green             #497964;
@define-color grey              #545555;
@define-color grey-light        #8e8e8e;
@define-color white             #ababaa;
@define-color orange            #9b885c;
@define-color orange-darker     #756643;
@define-color purple            #6b6098;
@define-color purple-light      #988acf;
@define-color turquoise         #268889;
@define-color turquoise-light   #4dc5c6;


.modules-right {
    font-family:    "Cousine";
    font-size:      15px;
}

.modules-center {
    font-family:    "Cousine";
    font-size:      15px;
}

.modules-left {
    font-family:    "Cousine";
    font-size:      15px;
}

tooltip {
  font-family:      "FreeMono";
  font-size:        20px;
  background:       @black-trans;
  border:           1px solid @yellow;
}
tooltip label {
  color: @grey-light;
}

window#waybar {
    background: @black-trans;
}

window#waybar.bottom {
    background: @trans;
    border:     none;
}

/* === work spaces === */

#workspaces {
    padding:            0px 20px 0px 20px;
    border-radius:      0px 0px 10px 0px;
}

#workspaces button {
    margin:             0px 2px 0px 2px;
    padding:            4px 5px 4px 8px;
    color:              @grey;
    border-radius:      0px;
    border-bottom:      2px solid @trans;
}

#workspaces button.focused {
    color:              @white;
    font-size:          18px;
    font-weight:        bold;
    border-bottom:      2px solid @orange;
}

#workspaces button.urgent {
    color:              @red; 
}

#workspaces button#sway-workspace-apps.focused {
    border-bottom:      2px solid @green;
}

#workspaces button#sway-workspace-chat.focused {
    border-bottom:      2px solid @turquoise;
}

#workspaces button#sway-workspace-ebooks.focused {
    border-bottom:      2px solid @red;
}

#workspaces button#sway-workspace-music.focused {
    border-bottom:      2px solid @orange;
}

#workspaces button#sway-workspace-terminal.focused {
    border-bottom:      2px solid @blue;
}

#workspaces button#sway-workspace-web.focused {
    border-bottom:      2px solid @purple;
}
#workspaces button#sway-workspace-vm.focused {
    border-bottom:      2px solid @green;
}
#workspaces button#sway-workspace-stats.focused {
    border-bottom:      2px solid @turquoise;
}
#workspaces button#sway-workspace-sound.focused {
    border-bottom:      2px solid @red;
}


#custom-spotify-metadata, #custom-spotify-play-pause, #custom-spotify-prev, #custom-spotify-next, #custom-spotify-quit {
    color:              @grey-light;
    font-size:          15px;
    padding:            7px 0px 7px 0px;
    border-left:        3px solid @green;
}
#custom-spotify-metadata {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-metadata.playing {
    color:              @green;
    border-left:        3px solid @green;
}
#custom-spotify-metadata.paused {
    color:              @yellow;
    border-left:        3px solid @yellow;
}
#custom-spotify-prev {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-play-pause {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-next {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-quit {
    margin:             0px 0px 0px 1px;
}

#clock {
    margin:             0px 15px 0px 15px;
    padding:            0px 0px 0px 0px;
    color:              @white;
    font-weight:        bold;
}

#tray, #custom-vm, #custom-containers, #custom-wfrecord, #custom-grimshot, #mode, #battery, #disk, #cpu, #memory, #temperature, #network, #pulseaudio, #backlight, #idle_inhibitor {
    margin:             1px 1px 1px 1px;
    padding:            13px 0px 13px 2px;
    color:              @white;
    border-left:        3px solid @orange;
}

#idle_inhibitor.activated {
    color:              @blue-light;
    border-left:      3px solid @blue-light;
}

#tray {
    border-left:        3px solid @green;
}

#custom-wfrecord {
    font-size:          12px;
}
#custom-grimshot {
    font-size:          12px;
}

#custom-wfrecord.recording {
    color:              @blue-light;
    border-left:      3px solid @blue-light;
}

#custom-vm.running {
    color:              @blue-light;
    border-left:      3px solid @blue-light;
}

#custom-containers.running {
    color:              @blue-light;
    border-left:      3px solid @blue-light;
}

#memory {
    font-weight:        bold;
}
#memory.low {
    border-left:      3px solid @blue;
}
#memory.mid {
    border-left:      3px solid @yellow;
}
#memory.high {
    border-left:      3px solid @red;
}

#cpu {
    font-weight:        bold;
}
#cpu.low {
    border-left:      3px solid @blue;
}
#cpu.mid {
    border-left:      3px solid @yellow;
}
#cpu.high {
    border-left:      3px solid @red;
}

#disk {
    font-weight:        bold;
}
#disk.low {
    border-left:      3px solid @blue;
}
#disk.mid {
    border-left:      3px solid @yellow;
}
#disk.high {
    border-left:      3px solid @red;
}

#temperature {
    font-weight:        bold;
    border-left:      3px solid @blue;
}
#temperature.critical {
    border-left:      3px solid @red;
}

#network {
    border-left:         3px solid @blue;
}
#network.disconnected {
    border-left:         3px solid @red;
}

#battery {
    border-left:      3px solid @blue;
    font-size:          12px;
}
#battery.warning {
    border-left:         3px solid @yellow;
}
#battery.critical {
    border-left:         3px solid @red;
}
#battery.charging {
    border-left:         3px solid @green;
}

#backlight.low {
    border-left:         3px solid @blue;
}
#backlight.mid {
    border-left:         3px solid @yellow;
}
#backlight.high {
    border-left:         3px solid @red;
}

#pulseaudio.low {
    border-left:         3px solid @blue;
}
#pulseaudio.mid {
    border-left:         3px solid @yellow;
}
#pulseaudio.high {
    border-left:         3px solid @red;
}
#pulseaudio.muted {
    border-left:         3px solid @red;
}

