/* 
    black   - #1c1c1c   rgba(28, 28, 28, 1)  
    blue    - #87afd7   rgba(135, 175, 215, 1) 
    red     - #af5f5f   rgba(175, 95, 95, 1)
    yellow  - #ffff5f   rgba(255, 255, 95, 1)
    green   - #87af87   rgba(135, 175, 135, 1)
    grey    - #d9d8d8   rgba(217, 216, 216, 1)
*/

.modules-right {
    font-family:    "FreeMono";
    font-size:      15px;
    font-family:    bold;
}

.modules-left {
    font-family:    "FreeMono";
    font-size:      19px;
}

window#waybar {
    background: rgba(28, 28, 28, 0);
}

#workspaces {
    margin: 0px 5px 0px 7px;
    border-radius: 0px 0px 5px 5px;
    padding: 1px 1px 1px 1px;
    background: rgba(28, 28, 28, 1);
}

#workspaces button {
    padding: 1px 10px 1px 10px;
    color:  rgba(217, 216, 216, .3);
}

#workspaces button.focused {
    font-weight: bold;
    color:  rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
    color:  rgba(175, 95, 95, .5);
;
}

#clock, #mode, #battery, #disk, #cpu, #memory, #network, #pulseaudio, #backlight {
    margin: 0px 5px 0px 5px;
    border-radius: 0px 0px 5px 5px;
    padding: 1px 8px 1px 8px;
}

#clock {
    background: rgba(28, 28, 28, .7);
}

#network {
    background: rgba(135, 175, 135, .4);
}
#network.disconnected {
    background: rgba(175, 95, 95, .5);
}

#battery {
    background: rgba(135, 175, 215, .4);
}
#battery.warning {
    background: rgba(255, 255, 95, .3);
}
#battery.critical {
    background: rgba(175, 95, 95, .5);
}

#cpu.low {
    background: rgba(135, 175, 215, .4);
}
#cpu.mid {
    background: rgba(255, 255, 95, .3);
}
#cpu.high {
    background: rgba(175, 95, 95, .5);
}

#memory.low {
    background: rgba(135, 175, 215, .4);
}
#memory.mid {
    background: rgba(255, 255, 95, .3);
}
#memory.high {
    background: rgba(175, 95, 95, .5);
}

#disk.low {
    background: rgba(135, 175, 215, .4);
}
#disk.mid {
    background: rgba(255, 255, 95, .3);
}
#disk.high {
    background: rgba(175, 95, 95, .5);
}

#pulseaudio.low {
    background: rgba(135, 175, 215, .4);
}
#pulseaudio.mid {
    background: rgba(255, 255, 95, .3);
}
#pulseaudio.high {
    background: rgba(175, 95, 95, .5);
}

#backlight.low {
    background: rgba(135, 175, 215, .4);
}
#backlight.mid {
    background: rgba(255, 255, 95, .3);
}
#backlight.high {
    background: rgba(175, 95, 95, .5);
}

