@define-color trans                 rgba(28, 28, 28, .0);
@define-color black                 #1c1c1c;
@define-color black-two             #252525;
@define-color black-trans           rgba(35, 35, 35, .95);
@define-color black-trans-overlay   rgba(85, 85, 85, .4);
@define-color blue                  #437890;
@define-color blue-light            #87afd7;
@define-color yellow                #7c794e;
@define-color yellow-light          #9b9761;
@define-color red                   #755754;
@define-color green                 #497964;
@define-color grey                  #545555;
@define-color grey-light            #8e8e8e;
@define-color white                 #ababaa;
@define-color orange                #9b885c;
@define-color orange-darker         #756643;
@define-color purple                #6b6098;
@define-color purple-light          #988acf;
@define-color turquoise             #268889;
@define-color turquoise-light       #4dc5c6;


.modules-right {
    font-family:    "Cousine";
    font-size:      15px;
}

.modules-center {
    font-family:    "Cousine";
    font-size:      15px;
}

.modules-left {
    font-family:    "Cousine";
    font-size:      15px;
}

tooltip {
  font-family:      "FreeMono";
  font-size:        20px;
  background:       @black-trans;
  border:           2px solid @orange;
}
tooltip label {
  color: @grey-light;
}

window#waybar {
    background: #2a2a2a;
}

/* === work spaces === */

#workspaces {
    padding:            0px 0px 0px 0px;
    border-radius:      0px 0px 0px 0px;
}

#workspaces button {
    margin:             0px 0px 0px 0px;
    padding:            0px 5px 0px 5px;
    color:              @grey-light;
    border-radius:      0px;
    border-top:         5px solid @trans;
}

#workspaces button.focused {
    color:              @white;
    border-top:         5px solid @blue;
    background:         @black-trans-overlay;
}

#workspaces button:hover {
    background:         @black-trans-overlay;
    box-shadow:         inherit;
    text-shadow:        inherit;
}

#workspaces button.urgent {
    color:              @red; 
}

#custom-spotify-metadata, #custom-spotify-play-pause, #custom-spotify-prev, #custom-spotify-next, #custom-spotify-quit {
    color:              @grey-light;
    padding:            7px 0px 7px 0px;
    border-left:        3px solid @green;
    font-size:          20px;
}

#custom-spotify-metadata {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-metadata.playing {
    color:              @green;
    border-left:        3px solid @green;
}
#custom-spotify-metadata.paused {
    color:              @yellow;
    border-left:        3px solid @yellow;
}
#custom-spotify-prev {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-play-pause {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-next {
    margin:             0px 0px 0px 1px;
}
#custom-spotify-quit {
    margin:             0px 0px 0px 1px;
}

#clock, #mode {
    margin:             0px 15px 0px 15px;
    padding:            0px 0px 0px 0px;
    color:              @white;
}

#mode { 
    font-size:          20px;
}

#clock, #tray, #custom-bluelightfilter, #custom-vm, #custom-notification, #custom-containers, #custom-wfrecord, #custom-grimshot, #battery, #disk, #cpu, #memory, #temperature, #network, #pulseaudio, #backlight, #idle_inhibitor {
    margin:             1px 1px 0px 1px;
    padding:            0px 6px 0px 6px;
    color:              @white;
    border-top:         3px solid @white;
    font-size:          20px;
}

#clock {
    font-size: 15px;
    border-top:        3px solid @grey;
}

#custom-notification {
  border-top:        3px solid @grey;
  font-family:       "NotoSansMono Nerd Font";
}

#idle_inhibitor {
    color:              @grey;
    border-top:         3px solid @grey;
    font-size:          25px;
}

#idle_inhibitor.activated {
    color:              @white;
    border-top:        3px solid @white;
}

#custom-bluelightfilter {
    color:              @grey;
    border-top:         3px solid @grey;
    font-size:          25px;
}

#custom-bluelightfilter.activated {
    color:              @white;
    border-top:        3px solid @white;
}

#tray {
    border-top:        3px solid @green;
}

#custom-wfrecord {
    font-size:          13px;
}
#custom-grimshot {
    font-size:          15px;
}

#custom-wfrecord.recording {
    color:              @green;
    border-top:        3px solid @green;
}

#custom-vm {
    font-size:          20px;
}
#custom-vm.running {
    color:              @blue-light;
    border-top:        3px solid @blue-light;
}

#custom-containers {
    font-size:          20px;
}
#custom-containers.running {
    color:              @blue-light;
    border-top:        3px solid @blue-light;
}

#memory {
}
#memory.low {
    border-top:        3px solid @blue;
}
#memory.mid {
    border-top:        3px solid @yellow;
}
#memory.high {
    border-top:        3px solid @red;
}

#cpu {
}
#cpu.low {
    border-top:        3px solid @blue;
}
#cpu.mid {
    border-top:        3px solid @yellow;
}
#cpu.high {
    border-top:        3px solid @red;
}

#disk {
    font-size:          17px;
}
#disk.low {
    border-top:        3px solid @blue;
}
#disk.mid {
    border-top:        3px solid @yellow;
}
#disk.high {
    border-top:        3px solid @red;
}

#network {
    border-top:         3px solid @blue;
    font-size:           18px;
}
#network.disconnected {
    border-top:         3px solid @red;
}

#battery {
    font-size:          25px;
    border-top:         3px solid @green;
}
#battery.warning {
    border-top:         3px solid @yellow;
}
#battery.critical {
    border-top:         3px solid @red;
}
#battery.charging {
    border-top:         3px solid @green;
    font-size:          13px;
}

#backlight {
    font-size:           15px;
}
#backlight.low {
    border-top:         3px solid @blue;
}
#backlight.mid {
    border-top:         3px solid @yellow;
}
#backlight.high {
    border-top:         3px solid @red;
}

#pulseaudio {
    font-size:           22px;
}
#pulseaudio.low {
    border-top:         3px solid @blue;
}
#pulseaudio.mid {
    border-top:         3px solid @yellow;
}
#pulseaudio.high {
    border-top:         3px solid @red;
}
#pulseaudio.muted {
    border-top:         3px solid @red;
}

