@define-color trans             rgba(28, 28, 28, 0);
@define-color black             #1c1c1c;
@define-color black-trans       rgba(28, 28, 28, .85);
@define-color blue              #437883;
@define-color blue-light        #87afd7;
@define-color yellow            #7c794e;
@define-color yellow-light      #9b9761;
@define-color red               #755754;
@define-color green             #437762;
@define-color grey              #545555;
@define-color grey-light        #8e8e8e;
@define-color white             #b9bab5;


.modules-right {
    font-family:    "Couine";
    font-size:      15px;
}

.modules-left {
    font-family:    "FreeMono";
    font-size:      19px;
}

window#waybar {
    background: none;
}

#workspaces {
    padding:            0px 20px 0px 20px;
    margin:             0px 5px 0px 7px;
    border-radius:      0px 0px 5px 5px;
    background:         @black-trans;
    border-bottom:      2px solid @trans;
}

#workspaces button {
    margin:             0px 2px 0px 2px;
    padding:            4px 10px 4px 10px;
    color:              @grey;
    border-radius:      0px;
    border-bottom:      2px solid @trans;
}

#workspaces button.focused {
    font-weight:        bold;
    color:              @yellow-light;
    border-bottom:      2px solid @yellow-light;
}

#workspaces button.urgent {
    color:              @red; 
}

#workspaces button#sway-workspace-apps.focused {
    font-weight:        bold;
    color:              @green;
    border-bottom:      2px solid @green;
}

#workspaces button#sway-workspace-chat.focused {
    font-weight:        bold;
    color:              @blue;
    border-bottom:      2px solid @blue;
}

#workspaces button#sway-workspace-ebooks.focused {
    font-weight:        bold;
    color:              @yellow;
    border-bottom:      2px solid @yellow;
}

#workspaces button#sway-workspace-music.focused {
    font-weight:        bold;
    color:              @green;
    border-bottom:      2px solid @green;
}

#workspaces button#sway-workspace-terminal.focused {
    font-weight:        bold;
    color:              @blue;
    border-bottom:      2px solid @blue;
}

#workspaces button#sway-workspace-web.focused {
    font-weight:        bold;
    color:              @yellow;
    border-bottom:      2px solid @yellow;
}

#custom-grimshot, #custom-wfrecord, #clock, #mode, #battery, #disk, #cpu, #memory, #network, #pulseaudio, #backlight {
    margin:             0px 2px 0px 2px;
    border-radius:      0px 0px 5px 5px;
    padding:            1px 8px 1px 8px;
    color:              @white;
    border-bottom:      1.5px solid @black-trans;
    border-right:       1.5px solid @black-trans;
    border-left:        1.5px solid @black-trans;
}

#custom-grimshot {
    color: @yellow-light;
    background: @black-trans;
}
#custom-wfrecord {
    color:              @yellow-light;
    background:         @black-trans;
}

#memory.low {
    background: @black-trans;
    color: @blue;
}
#memory.mid {
    background: @black-trans;
    color: @yellow;
}
#memory.high {
    background: @black-trans;
    color: @red;
}

#cpu.low {
    background: @black-trans;
    color: @blue;
}
#cpu.mid {
    background: @black-trans;
    color: @yellow;
}
#cpu.high {
    background: @black-trans;
    color: @red;
}

#disk.low {
    background: @black-trans;
    color: @blue;
}
#disk.mid {
    background: @black-trans;
    color: @yellow;
}
#disk.high {
    background: @black-trans;
    color: @red;
}

#network {
    background: @black-trans;
    color: @green;
}
#network.disconnected {
    color: @red;
    background: @black-trans;
}

#battery {
    background: @black-trans;
    color: @blue;
}
#battery.warning {
    background: @black-trans;
    color: @yellow;
}
#battery.critical {
    background: @black-trans;
    color: @red;
}


#backlight.low {
    background: @black-trans;
    color: @blue;
}
#backlight.mid {
    background: @black-trans;
    color: @yellow;
}
#backlight.high {
    background: @black-trans;
    color: @red;
}


#pulseaudio.low {
    background: @black-trans;
    color: @blue;
}
#pulseaudio.mid {
    background: @black-trans;
    color: @yellow;
}
#pulseaudio.high {
    background: @black-trans;
    color: @red;
}
#pulseaudio.muted {
    background: @black-trans;
    color: @red;
}

#clock {
    color:      @grey-light;
    background: @black-trans;
}

