.modules-right {
    border:         none;
    border-radius:  0;
    color:          #e4e4e4;
    font-family:    "FreeMono";
    font-size:      16px;
    box-shadow:     none;
    text-shadow:    none;
    transition-duration: 0s;
}

.modules-left {
    border:         none;
    border-radius:  0;
    color:          #e4e4e4;
    font-family:    "FreeMono";
    font-size:      19px;
    box-shadow:     none;
    text-shadow:    none;
    transition-duration: 0s;
}

window#waybar {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, .3);
}

#workspaces {
    margin: 5px;
    padding: 1px 10px 1px 10px;
    background: rgba(28, 28, 28, .7);
    border-radius: 3px;
}

#workspaces button {
    color: rgba(217, 216, 216, .25);
    font-weight: bold;
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-radius:  3px;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#clock, #mode, #battery, #disk, #cpu, #memory, #network, #pulseaudio, #backlight {
    margin: 4px;
    border-radius: 3px;
    padding: 1px 10px 1px 10px;
    background: rgba(28, 28, 28, .7);
    min-width: 75px;
}

#battery {
    background: rgba(135, 175, 215, .2);
}
#battery.critical {
    background: rgba(175, 95, 95, .5);
}
#battery.warning {
    background: rgba(255, 255, 95, .3);
}

#network {
    background: rgba(0, 95, 0, .4);
}
#network.disconnected {
    background: rgba(175, 95, 95, .5);
}

#cpu, #memory, #disk {
    background: rgba(135, 175, 215, .2);
}
#cpu.low {
    background: rgba(135, 175, 215, .2);
}
#cpu.mid {
    background: rgba(255, 255, 95, .3);
}
#cpu.high {
    background: rgba(175, 95, 95, .5);
}

#memory.low {
    background: rgba(135, 175, 215, .2);
}
#memory.mid {
    background: rgba(255, 255, 95, .3);
}
#memory.high {
    background: rgba(175, 95, 95, .5);
}

#disk.low {
    background: rgba(135, 175, 215, .2);
}
#disk.mid {
    background: rgba(255, 255, 95, .3);
}
#disk.high {
    background: rgba(175, 95, 95, .5);
}

#pulseaudio {
    background: rgba(175, 95, 95, .5);
}
#pulseaudio.low {
    background: rgba(135, 175, 215, .2);
}
#pulseaudio.mid {
    background: rgba(255, 255, 95, .3);
}
#pulseaudio.high {
    background: rgba(175, 95, 95, .5);
}

#backlight {
    background: rgba(175, 95, 95, .5);
}
#backlight.low {
    background: rgba(135, 175, 215, .2);
}
#backlight.mid {
    background: rgba(255, 255, 95, .3);
}
#backlight.high {
    background: rgba(175, 95, 95, .5);
}

